body {
	margin: auto;
	width: 1250px;
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
}

header {
	background-color: #00042B;
	padding: 50px;
}

header a {
	color: grey;
	text-decoration: none;
	font-family: verdana;
	font-size: 15px;
	padding-left: 13px;
}

header a:hover {
	color: white;
	transition-duration: 450ms;
}

.steam_logo {
	float: left;
	width: 180px;
	margin-top: 37px;
	margin-left: 150px;
}

.mini_menu {
	float: right;
	margin-right: 10px;
	margin-top: 0;
}

.mini_menu p{
	display: inline-block;
	color: lightgrey;
}

.mini_menu a {
	color: lightgrey;
	text-decoration: none;
	padding-left: 13px;
	padding-right: 13px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.mini_menu .install {
	background-color: green;
}

.mini_menu .install:hover {
	color: white;
	background-color: darkgreen;
	transition-duration: 400ms;
}

.mini_menu a:hover {
	color: white;
	transition-duration: 400ms;
}

nav {
	margin-left: 140px;
	margin-right: 140px;
	margin-top: 30px;
	padding: 12px;
	background: linear-gradient(80deg, rgba(10,182,203,1) 0%, rgba(13,3,173,1) 100%);
}

nav a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-family: arial;
	font-size: 13px;
	padding-left: 16px;
	margin-right: 10px;
}

nav .select:hover {
	transition-duration: 1s;
	background-color: lightblue;
	padding: 10px;
	color: black;
}

nav .buscar {
	color: black;
	font-style: italic;
	margin-left: 100px;
	padding-right: 100px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: black 1px solid;
	background-color: #034F72;
}

section {
	margin-left: 140px;
}

section p {
	display: inline-block;
	font-size: 13px;
	color: lightslategray;
}

section a {
	font-size: 13px;
	font-family: arial;
	text-decoration: none;
	color: lightslategray;
}

.gamename {
	margin-top: 0;
	color: white;
	margin-left: 150px;
	font-family: arial;
	font-size: 23px;
}

.juego {
	background-color: blue;
	margin-left: 140px;
	margin-right: 140px;
	padding: 5px;
	margin-bottom: 10px;
}

.juego:hover {
	background-color: #020094;
	color: white;
	transition-duration: 500ms;
}

.juego img {
	width: 100px;
	margin-left: 20px;
	float: left;
}

.juego a {
	text-decoration: none;
	color: lightgrey;
	margin: 0;
	margin-left: 10px;
	font-size: 12px;
	float: left;
	margin-top: 12px;
	font-family: arial;
}

.juego p {
	display: inline-block;
	color: white;
	font-size: 12px;
	margin-left: 180px;
	font-family: arial;
}

.gamephoto {
	margin: 0;
	margin-left: 150px;
	float: left;
	margin-right: 15px;
}

.gamebanner {
	float: right;
	margin: 0;
	margin-right: 160px;
	margin-bottom: 10px;
}

.gamedesc {
	font-family: arial;
	font-size: 13px;
	color: white;
	margin-right: 140px;
}

.gamedata {
	float: right;
	color: grey;
	font-family: arial;
	font-size: 10px;
	margin-right: 209px;
}

.gamedata a {
		text-decoration: none;
		color: lightblue;
}

.gamedata p{
		margin: 0;
		margin-bottom: 3px;
}

.buy {
	color: white;
	margin-top: 30px;
	margin-left: 150px;
	float: left;
	background: linear-gradient(90deg, rgba(44,42,69,1) 0%, rgba(69,66,150,1) 100%);
	font-family: arial;
	padding-right: 15px;
}

.buy p {
		display: inline-block;
}

.comprar {
	font-size: 20px;
	margin-left: 20px;
}

.presio {
	margin-left: 150px;
	color: cyan;
	background-color: black;
	padding: 10px;
}

.carrito {
	background-color: green;
	padding: 10px;
}

footer {
	color: white;
}

footer .valve {
	float: left;
	width: 100px;
}

footer .steamfooter {
	float: right;
}

footer p {
	padding-top: 40px;
	margin-left: 100px;
	margin-right: 70px;
}